body {
    margin: 0;
    padding: 0;
    background-color:#ebe1d9 ;
    align-items: center;
    justify-content: center;
}
   header {
    background-color: #A48374;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5C5247;
    padding: 1rem;
    border-radius: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

nav div, nav a {
    text-decoration: none;
}

button {
    background-color: #B8A186;
    color: antiquewhite;
    padding: 0.7rem 1.5rem;
    border: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #dd9fb9;
    transform: scale(1.05);
}

    .hero {
        background-color:#e9e0d8;
        padding: 2rem;
        text-align: center;
        font: georgia;
    }

    .hero h1 {
        font-size:40px;
        margin-bottom: 5px;
        font: georgia;
        margin-top: 3px;
    }

    .featured-video {
        display: flex;
        justify-content: center;  /* Centers video horizontally */
        align-items: center;  
        margin: 20px 0; /* Adds spacing between heading and text */
    }
    
    .featured-video video {
        width: 80%; 
        max-width: 800px; 
        height: auto; 
        border-radius: 10px; 
    }
    

    h2 {
        font-size:25px;
        background-color: #5f5446;
        display:inline-block;
        margin-top:10px;
        margin-bottom: 8px;
        color: antiquewhite;
        border-radius: 10px;
        border-width: 5px;
        margin-left: 15px;

    }

    h3 {
        font-size:25px;
        background-color: #5f5446;
        display:inline-block;
        margin-top:10px;
        margin-bottom: 8px;
        color: antiquewhite;
        border-radius: 10px;
        border-width: 5px;
        margin-left:15px;

    }

    .uy {
        text-align: justify;
        margin-right: 20px;
        margin-left: 15px;
        font-size: 20px;
        margin-top: 3px;
        transform: translate(12px, -12px);
    }
    .wow {
        text-align: justify;
        margin-right: 20px;
        margin-left: 15px;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 20px;
        transform: translate(12px, -12px);

    }

    .ah {
        text-align: justify;
        margin-left: 20px;
        margin-right:15px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
        

    }
    
    h4 {
        font-size:25px;
        background-color: #5f5446;
        display:inline-block;
        margin-top:1px;
        margin-right:15px;
        margin-left:15px;
        color: antiquewhite;
        border-radius: 10px;
        margin-bottom: 8px;
    }

    .description {
        margin-top: 0px;
    }
